@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@12..96&amp;family=Poppins:wght@600&amp;display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
    transition: 9ms ease-in;
    scroll-behavior: smooth;
}

/* .main-hero-text h1 span::before {
    color: #2C6E49;
    font-size: 70px;
    content: 'AI';
    animation: change 10s linear infinite;
}

@keyframes change {
    0% {
        content: 'AI';
        color: #409364;
    }

    20% {
        content: 'Coding';
        color: #409364;
    }
} */


.cover-body{
    background-color: #2C6E49;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: start;
}


.whatsap {
    color: white;
    background-color: #2C6E49;
    padding: 10px;
    border-radius: 20px;
    position: fixed;
    /* top: 460%;
    right: 4%; */
    top: 90%;
    right: 2%;
}

.header-section {
    width: 80%;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid green;
    border-radius: 100px;
    margin-top: 20px;
    /* background-color: red;    */
    margin-bottom: 20px;
    /* position:fixed;
    top: 0;
    left: 10%;
    right: 10%;
    z-index: 9999999999999999999; */
    /* display: none; */
}

.link-items a {
    color: green;
    margin-left: 20px;
    font-weight: bolder;
}

.logo-box {
    width: 15rem;
    height: auto;
}

.logo-box img {
    width: 100%;
    height: auto;
}

.right-header-box {
    width: auto;
    height: auto;
}

.right-header-box button {
    font-size: 1rem;
    background-color: #544e7e;
    color: white;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border: none;
    outline: none;
    letter-spacing: 0.35px;
    border-radius: 48px;

}

.right-header-box button a::before {
    position: relative;
    content: 'Download Our App';
}

.s button a::before {
    position: relative;
    content: 'Subscribe Now';
}

.right-header-box button:hover {
    background-color: #655d99;
}

.s {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.hero-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 2rem 7.5rem;
    column-gap: 1rem;
    background-color: #ffffff;


    /* background: rgb(246,96,213); */
    background: linear-gradient(349deg, rgba(251, 199, 240, 0.328) 0%, rgba(255, 255, 255, 1) 100%);
}

.left-hero-section {
    width: 50%;
    height: auto;
    padding-top: 2rem;

}

.main-hero-text {
    width: fit-content;
    height: auto;
}

.main-hero-text h1 {
    font-size: 3.125rem;
    /* font-family: 'Poppins', sans-serif; */
    line-height: 130%;
    color: #2C6E49;
    font-weight: 700;
    font-family: "Sora", sans-serif;
    /* letter-spacing: -1px; */
    word-spacing: 4px;
}

.description-hero-text {
    width: fit-content;
    height: auto;
    margin-top: 0.5rem;
}

.description-hero-text p {
    font-size: 1.5rem;
    color: #2C6E49;
}

.hero-list-box {
    margin-top: 3rem;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.3rem;
}

.highlight-button {
    padding: 4px 16px;
    background-color: #f9f6ff;
    color: #37008e;
    border-radius: 100px;
    border: 1px solid #6202FF;
    outline: none;
    letter-spacing: 0px;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.list-item {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 0.3rem;
    padding-left: 0.8rem;
    margin-bottom: 0.6rem;
    border-left: 1px solid #6202FF;
}

.list-icon {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-icon img {
    width: 16px;
    height: 16px;
}

.list-text {
    width: fit-content;
    height: auto;
}

.list-text p {
    color: dimgray;
    font-size: 1rem;
}

.hero-cta {
    width: auto;
    height: auto;
    margin-top: 3.5rem;
}

.below {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    column-gap: 0.5rem;
}

.below p {
    font-size: 1rem;
    font-weight: 400;
    color: #432D58;
    letter-spacing: 0.4px;
}

.below i {
    font-size: 0.9rem;
    color: #1e1e1e;
}

.hero-cta button {
    font-size: 1rem;
    background-color: #432D58;
    color: white;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border: none;
    outline: none;
    letter-spacing: 0.35px;
}



.right-hero-section {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.image-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    background: linear-gradient(349deg, white, rgba(128, 128, 128, 0.142));
    clip-path: circle();
    /* border: 5px solid black; */
    /* border-radius: 50%; */
}

.image-container img {
    width: 76%;
    height: auto;
}


.bootcamp-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 2rem 7.5rem 7.5rem 7.5rem;
    row-gap: 1rem;
    margin-top: 4rem;
}

.bootcamp-title-container {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 0.5rem;
}

.bootcamp-title-container h1 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #432D58;
}

.bootcamp-title-container img {
    width: 16px;
    height: 16px;
}

.container-for-cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    column-gap: 1rem;
    row-gap: 2.5rem;
    flex-wrap: wrap;
}

.card {
    width: 32%;
    height: auto;
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-radius: 8px;
}

.top-card {
    width: 100%;
    height: auto;
    background-color: #FBF8FF;
    color: #320678;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 1.5rem 1rem 1rem 1rem;
    row-gap: 1.5rem;
    border-radius: 0 4px 0 0;
    border-left: 4px solid #2C6E49;

}

.top-card img {
    width: 24px;
    height: 24px;
}

.top-card h1 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #320678;
    letter-spacing: 1px;
}

.bottom-card {
    width: 100%;
    height: auto;
    padding: 2rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 2rem;
    background-color: #FEFDFF;
    border-radius: 0 0 4px 4px;

}

.description-block {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.description-block h1 {
    font-size: 1.1rem;
    font-weight: 500;
    color: #23123F;
    letter-spacing: 0.8px;
    line-height: 28px;
}

.description-block p {
    font-size: 1rem;
    color: #696969;
}

.card-button-container {
    width: 100%;
    height: auto;

}

.card-button-container button {
    width: 100%;
    text-align: start;
    height: auto;
    padding: 0.9rem;
    background-color: #FEFDFF;
    border: 0.5px solid #e2e1e1;
    font-size: 0.9rem;
    letter-spacing: 0.8px;
    color: #868686;
    cursor: pointer;
    border-radius: 2px;
}

.main-section {
    padding: 1rem 7.5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.weeks {
    font-size: 0.9rem;
    letter-spacing: 0.8px;
    font-weight: 800;
}


.description-and-price-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.left-for-description {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.top-description {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.2rem;
    margin-bottom: 2rem;
}

.top-description .p {
    font-size: 0.8rem;
    color: #512679;
    text-decoration: underline;
}

.top-description h1 {
    font-weight: 600;
    font-size: 1.6rem;
    color: #1e1e1e;
    letter-spacing: 0.2px;
    margin-top: 0.5rem;
    line-height: 34px;
}

.top-description p {
    font-size: 1.3rem;
    color: #787777;
}

.blockquote {
    margin-top: 4rem;
    width: 70%;
    height: auto;
    display: block;
    padding: 0 0 0 1rem;
    border-left: 2px solid #6202FF;
}

.why-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
    margin-top: 7rem;
}

.why-title {
    width: fit-content;
    height: auto;
}

.why-title h1 {
    font-size: 1.4rem;
    font-weight: 500;
}

.container-for-why-cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 1rem;
    row-gap: 1rem;
    align-items: stretch;
    flex-wrap: wrap;
}

.why-card {
    width: 32%;
    height: auto;
    background-color: #FBF8FF;
    border: 1px solid #f3f3f3;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    padding: 1rem;
    border-radius: 4px;
}

.why-card h1 {
    font-weight: 500;
    font-size: 1.2rem;
}

.why-card p {
    font-size: 1.1rem;
    color: #8f8f8f;
    letter-spacing: 0px;
    line-height: 26px;
}

.blockquote p {
    font-size: 1rem;
    color: #696969;
    letter-spacing: 0px;
    line-height: 24px;
}

.price-description {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.price-description h1 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #23123F;
    letter-spacing: 0.9px;
}

.buttons-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: 1rem;
    margin-top: 0.6rem;
}

.buttons-div .usd-button {
    padding: 1rem 1rem;
    background-color: #2C6E49;
    font-size: 1.1rem;
    color: #f8f8f8;
    border: none;
    outline: none;
    display: flex;
    column-gap: 0.2rem;
    cursor: pointer;
    border-radius: 4px;
}

.buttons-div .ngn-button {
    padding: 1rem 1rem;
    background-color: #2C6E49;
    font-size: 1.1rem;
    color: #f8f8f8;
    border: none;
    outline: none;
    display: flex;
    column-gap: 0.2rem;
    cursor: pointer;
    border-radius: 4px;
}

.price-description p {
    font-size: 0.8rem;
    color: #696969;
}


.curriculum-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-content: start;
    row-gap: 1rem;
    margin-top: 7rem;
}

.curriculum-title {
    width: fit-content;
    height: auto;
}

.curriculum-title h1 {
    font-weight: 500;
    font-size: 1.4rem;
}

.list-of-weeks {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.2rem;
}

.week-list {
    background-color: #FBF8FF;
    width: 100%;
    height: auto;
    padding: 2rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.2rem;
    border-radius: 4px;
}

.week-list h1 {
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
}

.week-list p {
    font-size: 1rem;
    color: #838383;
}

.top-buttons-div {
    margin-top: 2rem;
    margin-bottom: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: 1rem;

}

.top-buttons-div .usd-button {
    padding: 1rem 1rem;
    background-color: #2C6E49;
    font-size: 1.1rem;
    color: #f8f8f8;
    border: none;
    outline: none;
    display: flex;
    column-gap: 0.2rem;
    cursor: pointer;
    border-radius: 4px;
}

.top-buttons-div .ngn-button {
    padding: 1rem 1rem;
    background-color: #2C6E49;
    font-size: 1.1rem;
    color: #f8f8f8;
    border: none;
    outline: none;
    display: flex;
    column-gap: 0.2rem;
    cursor: pointer;
    border-radius: 4px;
}

.success-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.success-icon-div {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.success-icon-div img {
    width: 160px;
    height: 160px;
}

.success-title {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
}

.success-title h1 {
    font-size: 1.5rem;
    font-weight: 900;
    color: #432D58;
    letter-spacing: 0.7px;
}

.success-title p {
    font-size: 1rem;
    color: #696969;
    text-align: center;
    letter-spacing: 0.7px;
}

.email-and-button {
    width: auto;
    height: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 2rem;
}

.email-text {
    width: fit-content;
    height: auto;
}

.email-text p {
    font-size: 0.8rem;
    color: #512679;
    letter-spacing: 0.7px;
}

.home-page-button {
    width: fit-content;
    height: auto;
}

.home-page-button button {
    padding: 1rem 2rem;
    background-color: #512679;
    font-size: 1rem;
    color: #f8f8f8;
    border: none;
    outline: none;
    display: flex;
    cursor: pointer;
}

.reasons-section {
    width: 100%;
    height: auto;
    padding: 3rem 7.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: start;
    align-items: start;
}

.reasons-title-container {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    justify-content: start;
    align-items: center;
}

.reasons-title-container h1 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #1e1e1e;
    letter-spacing: 0.7px;
}

.reasons-title-container img {
    width: 16px;
    height: 16px;
}

.reasons-main-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    column-gap: 1rem;

}

.reasons-left {
    /* width: 50%; */
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: start;
    align-items: start;
    padding-top: 2rem;
    /* background-color: teal; */
}

.reasons-list {
    width: 100%;
    height: auto;
    background-color: #FEFDFF;
    padding: 1rem;
    border: 0.5px solid #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.6rem;
    position: relative;
    /* border-radius: 4px; */
}

.reasons-list h1 {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.8px;
    color: #1e1e1e;
}

.reasons-list p {
    font-size: 1.1rem;
    letter-spacing: 0.2px;
    line-height: 26px;
    font-weight: 300;
    color: #a4a4a4;
}


.reasons-right {
    width: 50%;
    height: auto;
}

.reason-image-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border-radius: 8px; */
}

.reason-image-container img {
    width: 86%;
    height: auto;
    /* border-radius: 8px; */
}

.testimonial-section {
    width: 100%;
    height: auto;
    padding: 7.5rem 7.5rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 1.2rem;

}

.change{
    padding-top: 0 !important;
}


.testimonial-title-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    column-gap: 0.6rem;
    justify-content: start;
    align-items: center;
}

.testimonial-title-container h1 {
    font-size: 1.6rem;
    letter-spacing: 0.8px;
    font-weight: 500;
    color: #1e1e1e;
}

.testimonial-title-container img {
    width: 16px;
    height: 16px;
}

.testimonial-cards-block {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    row-gap: 1rem;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.testimonial-card {
    width: 32%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
    border: 0.5px solid #d7d7d7;
    border-radius: 4px;
    outline: none;
    padding: 1rem;
}

.top-card-detail {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 0.7rem;
}

.avi-image {
    width: 48px;
    height: 48px;
    border-radius: 300px;
    /* background-color: red; */
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.inner-circle{
    /* background-color: #1e1e1e; */
    border: 2px solid red;
    width: 35px;
    height: 35px;
    border-radius: 300px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circles{
    height: 25px;
    width: 25px;
    background:linear-gradient(349deg, #ff000090 0%,white 100%); ;
    border-radius: 300px;
    animation: blink 1s ease-in infinite;
}

@keyframes blink {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.outer-square{
    width: 48px;
    height: 48px;
    border-radius: 10px;
    /* background-color: red; */
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-square{
    /* background-color: #1e1e1e; */
    border: 2px solid red;
    width: 35px;
    height: 35px;
    border-radius: 10px;
}



.text-with-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    width: 120%;
}

.special_btn{
    padding: 10px;
    background-color: #544e7e;
    border-radius: 10px;
    font-weight: 900;
    transform: rotate(-3deg);
    cursor:default;
}

.button-div{
    /* background-color: red; */
    width: 100%;
    height: auto;
}

.navlist{
    /* background-color: red; */
    margin: 15px;
}

.navlist li{
    list-style: square;
    margin-top: 10px;
}

.button-div button{
    width:100%;
    padding: 1rem 2rem;
    /* border: 1px solid black; */
    border: none;
    background-color: #544e7e;
    border-radius: 10px;
    cursor: pointer;
}

.button-div a{
    color: white;
    font-size: 1rem;
    font-weight: 900;
}


.avi-image img {
    width: 48px;
    height: 48px;
    border-radius: 300px;
}

.name-and-title {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
    justify-content: start;
    align-items: start;
}

.name-and-title h1 {
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1px;
    color: #512679;
}

.name-and-title p {
    font-size: 0.8rem;
    letter-spacing: 1.2px;
    color: #696969;
}

.testimony {
    width: fit-content;
    height: auto;
}

.testimony p {
    font-size: 1rem;
    color: #696969;
    letter-spacing: 0.2px;
    line-height: 24px;
}

.social-media-section {
    width: 100%;
    height: auto;
    padding: 2rem 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}

.social-title {
    width: fit-content;
    height: auto;
}

.social-title h1 {
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 0.9px;
    color: #432D58;
}

.follow-buttons {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 1rem;
}

.follow-buttons button {
    background-color: white;
    color: #512679;
    padding: 1rem;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
}

.follow-buttons button a {
    color: #512679;
    text-decoration: underline;
}


@media screen and (max-width: 395px) {
    .header-section{
        flex-direction: column;
        display: block;
        /* background-color: red; */
        margin-top: 0;
        border-radius: 0;
    }
}
@media screen and (max-width: 375px) {
    .right-header-box button a{
        font-size: 14.5px;
        /* background-color: red; */
    }
}
@media screen and (max-width: 320px) {
    .right-header-box button a{
        font-size: 14.5px;
        /* background-color: red; */
    }
}



@media screen and (max-width: 1120px) {
    .header-section {
        width: 100%;
        height: auto;
        padding: 1.5rem 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: none;
    }

    .right-header-box button {
        font-size: 16px;
    }

    .right-header-box button a::before {
        position: relative;
        content: 'Get App';
    }

    .s button a::before {
        position: relative;
        content: 'Subscribe';

    }

    .s {
        margin-top: 20px;
    }

    .logo-box img {
        width: 80%;
        height: auto;
    }

    .link-items {
        display: none;
    }

    .social-media-section {
        width: 100%;
        height: auto;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

    }

    .testimonial-section {
        width: 100%;
        height: auto;
        padding: 7.5rem 3rem;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        row-gap: 1.2rem;
        /* background-color: #2EAB95; */
    }

    .reasons-section {
        width: 100%;
        height: auto;
        padding: 1.5rem 3rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        justify-content: start;
        align-items: start;
    }

    .reason-image-container img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .reasons-left {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        justify-content: start;
        align-items: start;
        padding-top: 0;
    }

    .reasons-left img {
        display: none;
    }

    .main-section {
        padding: 1rem 3rem;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .hero-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        padding: 2rem 3rem;
        column-gap: 1rem;
    }

    .bootcamp-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 2rem 3rem;
        row-gap: 3rem;
    }
}

@media screen and (max-width: 920px) {
    .header-section {
        width: 100%;
        height: auto;
        padding: 1.5rem 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .testimonial-section {
        width: 100%;
        height: auto;
        padding: 3rem 1.5rem;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        row-gap: 1.2rem;

    }

    .testimonial-card {
        width: 48%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        row-gap: 1rem;
        border: 1px solid #d7d7d7;
        border-radius: 8px;
        outline: none;
        padding: 1rem;
    }

    .bootcamp-title-container {
        font-size: 1.5rem;
        font-weight: 900;
        color: #432D58;
        display: none;
    }

    .reasons-section {
        width: 100%;
        height: auto;
        padding: 1.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        justify-content: start;
        align-items: start;
    }

    .success-title {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0.5rem;
    }

    .main-section {
        padding: 1rem 1.5rem;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .container-for-why-cards {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        column-gap: 0.2rem;
        row-gap: 0.6rem;
        align-items: start;
        flex-wrap: wrap;
    }

    .why-card {
        width: 100%;
        height: auto;
        background-color: #FEFDFF;
        border: 1px solid #f3f3f3;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        padding: 1rem;
    }

    .hero-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        padding: 2rem 1.5rem;
        column-gap: 1rem;
    }

    .card {
        width: 48%;
        height: auto;
        background-color: #e3e3e3;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

    .container-for-cards {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        column-gap: 0.2rem;
        row-gap: 3rem;
        flex-wrap: wrap;
    }

    .bootcamp-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 2rem 1.5rem;
        row-gap: 3rem;
    }
}

@media screen and (max-width: 768px) {

    .header-section {
        width: 100%;
        height: auto;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .reasons-right {
        display: none;
    }


    .testimonial-card {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        row-gap: 1rem;
        border: 0.5px solid #d7d7d7;
        border-radius: 4px;
        outline: none;
        padding: 1rem;
    }

    .reasons-left {
        width: 100%;
        height: auto;
    }

    .top-page-bar {
        display: none;
        width: 100%;
        height: auto;
        padding: 0.5rem;
        background-color: #2EAB95;
    }

    .left-for-description {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .container-for-why-cards {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        column-gap: 0.2rem;
        row-gap: 0.6rem;
        align-items: start;
        flex-wrap: wrap;
    }

    .why-card {
        width: 100%;
        height: auto;
        background-color: #FEFDFF;
        border: 2px solid #f3f3f3;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        padding: 1rem;
    }

    .main-section {
        padding: 0 1rem;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .left-hero-section {
        width: 100%;
        height: auto;
        padding-top: 1rem;

    }

    .right-hero-section {
        display: none;
    }

    .hero-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding: 1rem 1rem;
        column-gap: 1rem;
    }

    .card {
        width: 100%;
        height: auto;
        background-color: #e3e3e3;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

    .bootcamp-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 1rem 0.5rem;
        row-gap: 3rem;
    }

    .main-hero-text h1 {
        font-size: 2rem;
        line-height: 38px;
        color: #2C6E49;
        word-spacing: 4px;
    }
}